{% extends 'base.html' %}

{% load static %}

{% block title %} Staff's login {% endblock  %}

{% block css_files %}
<link rel="stylesheet" href=" {% static "staffs/staffs_login.css"%}">
{% endblock %}


{% block content %}



{% comment %} <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>  {% endcomment %}
<form  class= "form_class" method="post">
  {% csrf_token %} 
    <h3>Staff Login</h3>
    {% comment %} {% csrf_token %}  {% endcomment %}
    <label for="username">Username</label>
    <input type="text" placeholder="Enter Username" id="username" name="username" required>

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" name="pass" required>

    <button type="submit">Log In</button>
    <!-- <input type="button" value=""> -->
    <!-- <div class="social">
      <div class="go"><i class="fab fa-google"></i>  Google</div>
      <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
    </div> -->
    <a href="{% url 'staff-signup' %}" >Create an account</a>
    <a class="form_class_a2" href=""> Forgot Password</a>
</form>





{% endblock content %}











