{% extends 'base.html' %}

{% load static %}

{% block title %} student_details {% endblock  %}


{% csrf_token %} 

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 ">
            <div class="justify-content-center">
                <p class="mb-0">student name: {{name|title}}</p>
                <p>roll number: {{roll_number}}</p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <h1>Student Details</h1>
        </div>

        
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 offset-9">
            <div class="card">
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %} 

                        
                            <div class="mb-3 text-center">
                                <h4>Send a private message</h4>
                            </div>
                            <div class="mb-3">
                                <textarea class="form-control" id="message" name="message" rows="3" placeholder="Type message here .."></textarea>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary">Send Message</button>
                            </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>












{% endblock %}